# ========================================
# PRODUCTION ENVIRONMENT (QA - QATAR)
# ========================================

# Frontend URL
PROD_FRONTEND_URL = https://qatar-frontend-url

# Backend URL
PROD_BACKEND_URL=https://qatar-backend-url

# Real Domain (used in Country Selection and Home spec files)
REAL_DOMAIN_URL=https://real-domain-url

# ========================================
# PRODUCTION ENVIRONMENT (UAE - United Arab Emirates)
# ========================================

# Frontend URL
PROD_FRONTEND_URL=https://uae-frontend-url

# Backend URL
PROD_BACKEND_URL=https://uae-backend-url


# ========================================
# PRE-PRODUCTION ENVIRONMENT
# ========================================

# PRE_PROD_FRONTEND_URL=https://qa-preprod-frontend-url
# PRE_PROD_BACKEND_URL=https://qa-preprod-backend-url


# ========================================
# UAT ENVIRONMENT
# ========================================

# UAT_FRONTEND_URL=https://qa-uat-frontend-url
# UAT_BACKEND_URL=https://qa-uat-backend-url
# UAT_REAL_DOMAIN_URL=https://qa-uat-real-domain-url


# ========================================
# LOGIN CREDENTIALS (DUMMY VALUES)
# ========================================

LOGIN_EMAIL=your_email@example.com
LOGIN_PASSWORD=your_password_here
LOGIN_PHONE=your_phone_number


# ========================================
# ADDITIONAL TEST CREDENTIALS
# ========================================

VALID_EMAIL= your_email@example.com
VALID_PASSWORD= your_valid_password_here

